section{
    padding: 80px 0;
}

/*CSS DE LA SECCIÓN DEL HERO*/
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 85vh;
    justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.hero-links{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.hero-links a{
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    align-items: center;
    transition: all 0.3s ease;
}

.btn-primary{
    background-color: #91ff3d;
    color: #081A36;
}
.btn-primary:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px #97f56059;
    background-color: #91ff3d;
    filter: brightness(0.85);
}

.btn-secundary{
    border: 2.3px solid #FF5FA0;
    color: #FF5FA0;
}
.btn-secundary:hover{
    background-color: #FF5FA0;
    color: #081A36;
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(255, 95, 160, 0.35);
    filter: brightness(0.85);
}

.text h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    font-weight: 700;
}
.text span{
    color: #91ff3d ;
}
.text p{
    color: rgba(245, 240, 232, 0.6);
    margin-top: 5px;
}

.hero-dash{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.dash-metrics{
    display: flex;
    gap: 3rem;
}

.dash-title,
.metric-label{
    color: rgba(245, 240, 232, 0.6);
}

.metric{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.metric-number{
    font-size: 35px;
    font-weight: bold;
    color: #91ff3d;
}


/*CSS DE LA SECCIÓN DE SOLUCIONES*/
.solutions-section{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

.solutions-header h2{
    font-size: 40px;
}
.solutions-header span{
    color: #FF5FA0
}
.solutions-header p{
    color: rgba(245, 240, 232, 0.6);
}

.features-grid{
    display: flex;
    justify-content: space-between;
}
.features-grid h3{
    font-size: 16px;
}
.features-grid .feature-card:nth-child(1) { 
    border-color: rgba(151, 245, 96, 0.3); 
}
.features-grid .feature-card:nth-child(2) { 
    border-color: rgba(255, 95, 160, 0.3); 
}
.features-grid .feature-card:nth-child(3) { 
    border-color: rgba(210, 142, 16, 0.3); 
}
.features-grid .feature-card:nth-child(1) .feature-content a {
    color: #91ff3d;
}
.features-grid .feature-card:nth-child(2) .feature-content a {
    color: #FF5FA0;
}
.features-grid .feature-card:nth-child(3) .feature-content a {
    color: #d28e10;
}


.feature-card{
    display: flex;
    background-color: rgba(62, 58, 193, 0.05);
    border-radius: 16px;
    padding: 24px;
    gap: 1.5rem;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 2.3px solid rgba(255, 255, 255, 0.1);
}
.feature-card a {
    color: inherit;
    position: relative;
}
.feature-card h3{
    color: white;
}
.feature-card p{
    color: rgba(245, 240, 232, 0.6);
    line-height: 1.5;
}
.feature-card a{
    color: #FF5FA0;
    text-align: left;
}

.feature-card a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.7s ease;
}

.feature-card:hover a::after{
    width: 100%;
}


.feature-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05); 
}
.feature-card:nth-child(1):hover { 
    border-color: rgba(151, 245, 96, 0.5); 
}
.feature-card:nth-child(2):hover { 
    border-color: rgba(255, 95, 160, 0.5); 
}
.feature-card:nth-child(3):hover { 
    border-color: rgba(210, 142, 16, 0.5); 
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.gestion{
    width: 40px;
    height: 40px;
    background-color: #91ff3d;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.bell{
    width: 40px;
    height: 40px;
    background-color: #FF5FA0;
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 7px;
}
.health{
    width: 40px;
    height: 40px;
    background-color: #d28e10;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}



/*CSS DE LA SECCIÓN DE PROBLEMAS*/
.problems-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.problems-left{
    display: flex;
    flex-direction: column;
}
.problems-left h2{
    max-width: 18ch;
    line-height: 1.1;
    margin-bottom: 15px;
    font-size: 40px;
}
.problems-left span{
    color: #d28e10;
}
.problems-left p{
    color: rgba(245,240,232,.6);
}
.problems-stat{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 24px;
    border-radius: 16px;
    background: rgba(255,255,255,.03);
    border: 1px solid rgba(255,255,255,.08);
    padding: 25px 0px;
    padding-left: 8px;
    max-width: 400px;
}
.stat-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: white;
}
.stat-info small{
    color: rgba(245,240,232,.6);
}
.stat-info p{
    color: white;
}
.stat-text{
    font-size: 1rem;
    color: #F5F0E8;
    max-width: 200px;
    line-height: 1.5;
}
.problems-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 630px;
    align-items: center;
}
.problem-card {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    border-radius: 16px;
    background: #081a3649;
    border: 1px solid rgba(255,255,255,.08);
    overflow: hidden;
}

.problem-card svg{
    width: 75px;
    height: 40px;
    padding: 0px 8px;
    border-radius: 7px;
}
.problem-card-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.problem-card-text h3 {
    font-size: 15px;
    font-weight: 600;
    color: #F5F0E8;
}
.problem-card-text p {
    font-size: 13px;
    color: rgba(245, 240, 232, 0.55);
    line-height: 1.6;
}

.problem-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    border-radius: 16px 0 0 16px;
}

.watering-card svg{
    background-color: #FF6B3D;
}
.plague-card svg{
    background-color: #91ff3d;
}
.history-card svg{
    background-color: #d28e10;
}
.lost-card svg{
    background-color: #FF5FA0;
}

.watering-card::before{
    background: #FF6B3D;
    box-shadow: 0 0 12px #FF6B3D;
}

.plague-card::before{
    background: #C6FF3D;
    box-shadow: 0 0 12px #91ff3d;
}

.history-card::before{
    background: #F6B73C;
    box-shadow: 0 0 12px #F6B73C;
}

.lost-card::before{
    background: #FF4FA2;
    box-shadow: 0 0 12px #FF4FA2;
}


.icon-stroke path{
    stroke: #081A36;
    fill: none;
    stroke-width: 1.5px;
}

.icon-fill path{
    fill: #081A36;
    stroke: #081A36;
    stroke-width: 1px;
}

.stat-circulo {
    position: relative;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
.stat-circulo svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* empieza desde arriba */
}

.stat-numero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 700;
    color: #E8A838;
}

.circulo-progreso {
    stroke-dasharray: 251; /* circunferencia: 2 * π * 40 */
    stroke-dashoffset: 251; /* empieza vacío */
    transition: stroke-dashoffset 2s ease-out;
}
.circulo-progreso.animado {
    stroke-dashoffset: 33; /* 251 - (251 * 0.87) = 33 */
}


/*CSS DE LA SECCIÓN DE AUDIENCIA*/
.audience-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.audience-section svg{
    width: 75px;
    height: 75px;
    border-radius: 45px;
    padding: 10px;
}

.audience-top h2{
    font-size: 40px;
    max-width: 18ch;
}
.audience-top span{
    color: #91ff3d;
}
.audience-top p{
    color: rgba(245, 240, 232, 0.55);
    line-height: 1.5;
}

.audience-cards{
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.audience-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    max-width: 390px;
    padding: 40px 35px;
    position: relative;
    overflow: hidden;
    background: #081a3649;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.audience-card:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05); 
}
.audience-card::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: -120px;
    left: -120px;
    border-radius: 50%;
    z-index: 0;
}
.audience-card p{
    color: rgba(245, 240, 232, 0.55);
    line-height: 1.5;
}
.audience-card a{
    position: relative;
}

.audience-card a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.7s ease;
}

.audience-card:hover a::after{
    width: 100%;
}



.farmer-card::before{
    background: radial-gradient(
        circle,
        rgba(214, 90, 154, 0.25) 0%,
        rgba(214, 90, 154, 0.1) 35%,
        transparent 70%
    );
}
.farmer-card{
    border: 1px solid #D65A9A;
    box-shadow: 0 0 20px rgba(214, 90, 154, 0.15);
}
.farmer-card svg{
    background: radial-gradient(circle at 30% 30%, #D65A9A, #b23678);
}
.farmer-card a{
    color: #D65A9A;
}


.cropfield-card::before{
    background: radial-gradient(
        circle,
        rgba(145, 255, 61, 0.25) 0%,
        rgba(145, 255, 61, 0.1) 35%,
        transparent 70%
    );
}
.cropfield-card{
    border: 1px solid #91ff3d;
    box-shadow: 0 0 20px rgba(145, 255, 61, 0.15);
}
.cropfield-card svg{
    background: radial-gradient(circle at 30% 30%, #A8FF63, #6DAA2A);
    fill: white;
}
.cropfield-card a{
    color: #91ff3d;
}


.student-card::before{
    background: radial-gradient(
        circle,
        rgba(224, 165, 58, 0.25) 0%,
        rgba(224, 165, 58, 0.1) 35%,
        transparent 70%
    );
}
.student-card{
    border: 1px solid #E0A53A;
    box-shadow: 0 0 20px rgba(224, 165, 58, 0.15);
}
.student-card svg{
    background: radial-gradient(circle at 30% 30%, #E0A53A, #A96E0D);
}
.student-card a{
    color: #E0A53A;
}



